<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/111.jpg" alt="Khidir Afwan" class="'img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Khidir Afwan A</h1>
            <p class="lead">Muballigh | Mahasiswa</p>
        </div>
    </div>
</div>