    <h1>Hello world</h1>
    <p>Welcome <%= nama %></p>

    <h3>Datar mahasiswa</h3>
    <% if (mahasiswa.length < 1) { %>
     <p>Data masih kosong</p>
    <% } %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama : <%= mhs.nama%></li>
            <li>Email : <%= mhs.email%></li>
        </ul>
    <% }) %>
